@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Pakistan State Oil is a Karachi-based Pakistani state-owned multinational petroleum corporation involved in marketing and distribution of petroleum products. 
</p>
