@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PSO House <br />
    Khayaban-e-Iqbal, Clifton, Karachi 75600, Pakistan<br />
    <abbr title="Tel">P:</abbr>
    (92 21) 99203866-85
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Taaluq@psopk.com ">Taaluq@psopk.com</a><br />
</address>