@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fuel Information</h1>
    <p class="lead">FuelInfo provides current and historical petrol, diesel and CNG prices for Pakistan.</p>
    <p><a href="https://psopk.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The site is a public site but requires login for the admin/support staff to update fuel prices.
        </p>
        <p><a class="btn btn-default" href="https://psopk.com">Learn more &raquo;</a></p>
    </div>
</div>